.home-icon svg {
    fill: rgb(51, 51, 51);
}

.header-list {
    display: flex;
}

.header-list li {
    margin-right: 1.75rem;
}

.nav-item-primary {
    font-weight: 1700;
    color: black;
}

.nav-item {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 152, 0);
    background: transparent;
    color: rgb(51, 51, 51);
    transition: 0.1s;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
}

.nav-item:hover {
    border: 1px solid transparent;
    background: rgb(255, 152, 0);
    color: rgb(255, 255, 255);
}

.nav-text {
    display: inline;
  }
  
  .nav-icon {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-text {
      display: none; 
    }
    
    .nav-icon {
      display: inline;
    }

    .nav-item {
        background: rgb(255, 152, 0);
    }
  }