:root {
  --hoover-color: rgb(255, 152, 0);
}

* {
    box-sizing: inherit;
}

body {
  margin: 0;
}

::selection {
  color: var(--hoover-color);
  background: rgb(32, 35, 41);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hoover-color);
}

li {
  list-style-type: none;
}

html {
  font: 112.5% / 1.625 -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}